<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.smoking_identification.mapper.StudentMapper">


    <select id="listByClass" resultType="com.ruoyi.smoking_identification.domain.vo.StudentListVo">
        SELECT s.*, IFNULL(i.cnt, 0) AS incidentCount
        FROM student s
        LEFT JOIN (
            SELECT student_id, COUNT(*) AS cnt
            FROM incident
            WHERE student_id IS NOT NULL
            GROUP BY student_id
        ) i ON s.student_id = i.student_id
        <if test="banji != null and banji != '' ">
            WHERE s.banji = #{banji}
        </if>
    </select>

    <select id="getIdByName" resultType="Long">
        SELECT
            student_id
        FROM student
        WHERE
            name = #{name}
    </select>
</mapper>